<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIControlCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="12" />
    </connectionManagement>
  </system.net>
  <userSettings>
    <UIControlCode.Properties.Settings>
      <setting name="LoginServer" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoginMail" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPass" serializeAs="String">
        <value />
      </setting>
      <setting name="Source1E" serializeAs="String">
        <value />
      </setting>
      <setting name="Source2E" serializeAs="String">
        <value />
      </setting>
      <setting name="Smartkey1E" serializeAs="String">
        <value />
      </setting>
      <setting name="Smartkey2E" serializeAs="String">
        <value />
      </setting>
      <setting name="Smartkey1D" serializeAs="String">
        <value />
      </setting>
      <setting name="Smartkey2D" serializeAs="String">
        <value />
      </setting>
      <setting name="ServID1E" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServID2E" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServID1D" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServID2D" serializeAs="String">
        <value>1</value>
      </setting>
    </UIControlCode.Properties.Settings>
  </userSettings>
</configuration>